<section class="error-page container">
  <h1>404</h1>
  <p><%= typeof message !== "undefined" ? message : "The page you're looking for doesn't exist." %></p>
  <a href="/" class="btn-submit">Go back home</a>
</section>
